nav{
    display: flex;
    justify-content: center;
    gap:20px;
    
}
.active{
    font-weight: bolder !important;
}


.light{
    background-color: beige;
    color: black;
}


.dark{
    background-color: black;
    color:aliceblue
}