nav{
    display: flex;
    justify-content: center;
    gap:20px;
    
}
.active{
    font-weight: bolder !important;
}


.light{
    background-color: beige;
    color: black;
}


.dark{
    background-color: black;
    color:aliceblue
}

.picture{
    background-color: aliceblue;
    padding: 10px;
    width:400px;

    img{
        width: 100%;
    }
    h6{
        margin-top: 10px;
        text-align: center;
    }
}